<div class="solution-component"
    style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; text-align: center; background-color: #f5f5f5;">
    <h1 class="marginRow" style="color: rgb(172, 0, 0); font-size: 40px; margin-bottom: 20px;">AI Driven, Secured by
        Block Chain, Cost Effective Asset Management</h1>
    <div class="solution-mid" style="height: 30px;"></div>
    <div class="solution-content"
        style="display: flex;justify-content: space-evenly;
        align-items: center; grid-template-columns: repeat(4, 1fr); gap: 10px; height: 200px; width: 100%; max-width: 800px;">
        <div
            style="height:200px;width: 200px;border-radius: 10px;background-color: lightgray; display: flex; align-items: center; justify-content: center;">
            Asset and Lifecycle Management</div>
        <div
            style="height:200px;width: 200px;border-radius: 10px;background-color: lightgray; display: flex; align-items: center; justify-content: center;">
            Simplified Mobility Management</div>
        <div
            style="height:200px;width: 200px;border-radius: 10px;background-color: lightgray; display: flex; align-items: center; justify-content: center;">
            Dedicated Device Management</div>
        <div
            style="height:200px;width: 200px;border-radius: 10px;background-color: lightgray; display: flex; align-items: center; justify-content: center;">
            Real-time Support</div>
    </div>
</div>