<div class="documents-component">
    <div class="documents-title"> DOCUMENTATION</div>
    <div class="documents-content">


        To learn more about us, please download the file below for further information. Our goal is to provide you
        with a more secure and efficient asset and device management solution that meets your needs.

    </div>
    <div></div>
    <button class="documents-btn">Download</button>

    <div class="documents-bottom">
        <div>GET IN TOUCH WITH TD-UEM</div>
        <div>Schedule a demo to see what CoolWot can do for your business</div>
    </div>
    
</div>