<div class="footer-content" style="height: 300px;">
    <div style="margin-left:10%; margin-right:10%; display: flex;">
        <div style="height: 280px;display: flex;">TD-UEM is a leading provider of enterprise endpoint
            management software
            leveraging
            cutting-edge IoT and AI
            technologies. Our innovative solutions empower businesses to seamlessly manage their network of endpoints
            with
            unparalleled efficiency and intelligence. At our core, we combine the power of IoT to connect devices and
            gather
            real-time data with advanced AI algorithms to analyze and optimize operations. Whether it’s monitoring,
            controlling, or securing endpoints, our platform offers comprehensive functionalities tailored to meet the
            diverse needs of modern enterprises. Our commitment to excellence drives us to continuously evolve and adapt
            to
            the ever-changing landscape of technology and business requirements. With a focus on user-friendly
            interfaces
            and robust performance, we ensure that our clients experience maximum productivity and ROI.</div>
    </div>

    <hr style="margin: 20px 0;">

    <div
        style="font-size: 12px;height: 3px; display: flex; align-items: center;justify-content: space-around;align-content: center; width: 70%;">
        <span>All Rights Reserved 2024</span>
        <span>Privacy Policy</span>
    </div>


</div>