<div class="footer">
    <div class="footer-content">
        <div class="footer-left" style="    margin-top: -14px;">
            <img src="../../assets/web-icon.png" alt="TED UEM Logo" class="footer-logo">
        </div>
        <div class="footer-center">
            <div class="footer-p" style="margin-bottom: 10px;">
                <div>Email: <a href="mailto:support&#64;tduem.com"> support&#64;tduem.com</a></div>
            </div>

        </div>
        <!-- <div class="footer-right">
        <a href="https://www.linkedin.com" target="_blank" class="footer-icon"><img src="../../assets/linkedin.png" alt="LinkedIn"></a>
        <a href="https://www.youtube.com" target="_blank" class="footer-icon"><img src="../../assets/youtube.png" alt="YouTube"></a>
      </div> -->
    </div>
    <hr class="footer-line">
    <div class="footer-bottom">
        <p>Copyright 2024 all rights reserved Sitemap Powered by TED UEM Limited</p>
        <p>Commercial publicity on this website that directly or indirectly promotes products or services to consumers
            is "advertising" (except for product information such as packaging and parameters, after-sale protection)
        </p>
        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="#">Disclaimer</a></p>
    </div>
</div>