<div class="partners-component">
    <div style="font-size: 55px;color: #ffff;">Our Partners</div>
    <div class="partners-mid"></div>
    <div class="partners-logos">
        <div class="partner">
            <img src="assets/RugGear.png" alt="RugGear">
        </div>
        <div class="partner">
            <img src="assets/Chainway.png" alt="Chainway">
        </div>
        <div class="partner">
            <img src="assets/Urovo.png" alt="Urovo">
        </div>
        <div class="partner">
            <img src="assets/Ulefone.png" alt="Ulefone">
        </div>
        <div class="partner">
            <img src="assets/idata.png" alt="iData">
        </div>
    </div>
</div>